@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --back:#0f172a;
    --primary:#1e293b;
    --secondary:#f1f5f9;
}

body{
    color: var(--secondary);
    background-color: var(--back);
    margin: auto;
    font-family: 'Kanit', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col{

    width: 100%;
}

.container {
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}

input{
    padding: 1rem 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 20rem;
    color: #94a3b8;
    border: none;
    background-color: var(--primary);
}

#calculate-btn {
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 22rem;
    background-color: var(--secondary)
}

#output-div {
    font-weight: bold;
}